<div class="container">
    <h3 class="text-center">Contact Us</h3>
    
    <%= form_for "/contacts" do |f| %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>  
        <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email %>
        </div>
        <div class="form-group">
            <%= f.label :comments %>
            <%= f.text_area :comments %>
        </div>    
        
        <%= f.submit 'Submit'%>
    <% end %>
</div>